* {
    box-sizing: border-box;
}

.calculator{
    min-width:32rem;
    max-width:25rem;

}
.calculator__input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30rem;
}

.calculator__output {
    display: block;
}

.calc__result {
    padding: 0.3rem;
    font-size: 2rem;
    text-align: right;
    /* border: 0.2rem inset hsl(0, 0%, 30%); */
  }

  .calc__expression {
    border-top: 0.2rem dotted grey;
    padding: 0.4rem;
    text-align: right;
    /* border: 0.2rem inset hsl(0, 0%, 30%); */
  }

.calc__button {
    max-width: 3em;
    font-size: 1.5rem;
    height: 3em;
    margin-top: 1.0rem
}